* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #E4F2E4;
}

.bg-verde {
  background-color: #369736;
}

.border-verde {
  border-bottom-color: #369736;
}

#msg {
  color: #000;
}

#msg h6 {
  font-size: 16px;
  font-weight: bold;
}

.mt-2 {
  color: grey;
}

.btn {
  border-color: #369736;
  background-color: #369736;
}

#newsfeed-filter {
  color: black;
}

#newsfeed-filter input:hover, #msg i:hover, label:hover, select:hover {
  cursor: pointer;
}

#msg p {
  color: #696969;
  font-size: 14px;
}

#msg p:focus {
  color: #369736;
}

input[type='file'] {
  display: none
}
