body {
  color: #369736;
}

.fa-arrow-left:hover {
  cursor: pointer;
  color: black;
}

.form-control, .btn {
  border-color: #369736;
}

.btn-outline-light, main .btn {
  background-color: #369736;
}

main .btn, .following {
  font-weight: bolder;
}

main .btn {
  height: 8vh;
}